<div class="loans-container">
  <h1>Mes emprunts</h1>
  <span *ngIf="myLoans.length ==0">Vous n'avez pas d'emprunt en cours, <a routerLink="/list-books">Allez voir les
      livres disponibles!</a></span>
  <div class="loans">
    <div *ngFor="let loan of myLoans">
      <div>Demandé Le : {{loan.askDate | date:'dd/MM/yyy à HH:mm'}}</div>
      <app-book [book]="loan.book" [editMode]="false"></app-book>
      <div *ngIf="loan.closeDate">Clos le : {{loan.closeDate | date:'dd/MM/yyy à HH:mm'}}</div>
      <button *ngIf="!loan.closeDate" (click)="closeLoan(loan.id)" class="btn btn-primary">Clore</button>
    </div>
  </div>
</div>