@import '../common-css/common';


.mybook-container {
    margin-bottom: 25px;
    .container-buttons{
        display: flex;
        justify-content: space-around;
    }
    
            button {
                width: 100px;
                margin: 5px;
            }

}


